body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #abfff8; 
}


.loginBox {
    width: 300px; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 1px; 
}

.loginform {
    display: flex;
    flex-direction: column;
}
.login_input1{
    margin-bottom: 15px;
}
.login_password {
    margin-bottom: 15px;
}


.loginemail{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}
.loginpassword {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

.loginbutton {
    width: 50%;
    padding: 10px;
    background-color: #abfff8;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

.loginbutton:hover {
    background-color: #83fcf2; 
}

.error_messages {
    color: red;
    text-align: left;
    font-size: 12px;
    margin-top: 6px;

}


/* signup part */
.signup {
    text-align: center;
    margin-top: 10px;
}

.signtext {
    color: #4c4eaf; 
}

